@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Raleway:wght@400;500;600;700&family=Saira:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #286f6c;
  --color-dark: #23262f;
  --color-dark-soft: #23262f80; /* Opacity 50% */
  --color-light: #ffffff;
  --color-bg-gray: #eaeef3;
  --color-overlay: rgba(0, 0, 0, 0.3);

  --font-saira: "Saira", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-inter: "Inter", sans-serif;

  --breakpoint-2xl: 1440px;

}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 1440px; /* Sesuai lebar Figma */
}

@layer base {
  body {
    font-family: var(--font-saira);
    color: var(--color-dark);
    background-color: var(--color-light);
    -webkit-font-smoothing: antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }
}
